ion-content ion-toolbar {
  --background: translucent;
}

.banner {
  display: block;
  font-weight: bold;
  padding-top: 5%;
  color: white;
  background: var(--ion-color-primary);
}

.banner ion-icon {
  width: 100%;
  font-size: 5em;
}

ion-grid{
  padding: 0;
}

h3 {
  margin-bottom: 0px !important;
}

h4 {
  margin-top: 0px !important;
  font-style: italic;
}